{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "rules": {
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "comma-dangle": "off",
        "no-use-before-define": "off",
        "import/no-unresolved": [
            "error",
            {
                "ignore": [
                    "electron"
                ]
            }
        ],
        "indent": [
            "error",
            4
        ],
        "max-len": [
            2, 120, 2, {
                "ignoreUrls": true,
                "ignoreComments": false
            }
        ],
        "import/no-extraneous-dependencies": "off",
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/sort-comp": 0,
        "react/jsx-indent": 0,
        "react/jsx-indent-props": [2, 4]
    },
    "plugins": [
        "import",
        "react"
    ],
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.eslint.js"
            }
        }
    }
}
